<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API doc</title>
    <style type="text/css">
     .code { font-family: monospace; }
     .description { display: none; }
     .has-description { cursor: pointer; }
     .has-description:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Documentation</h1>
      <p>
        This documentation was generated from the JSON schema <a href="<%= filename %>"><%= filename%></a>.
      </p>
      <span class="code">
        <%= content %>
      </span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {
         $('.has-description').each(function () {
             $(this).click(function () {
                 $(this).parent().find('> .description').toggle();
             });
         });
     });
    </script>
  </body>
</html>
