<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API doc</title>
    <style type="text/css">
     .code { font-family: monospace; }
    </style>
  </head>
  <body>
    <div class="container code">
      <%= content %>
    </div>
  </body>
</html>
